.navbar-logo img {
    width: 100px;
}

.nav-recipe {
    font-size: 25px;
    color: #6ca640;
    font-weight: 600;
}

.card_data {
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.card_data:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}