:root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #555555;
    --green: green;
    --red: red;
    --primary-blue: #2a55e5;
    --secondary-yellow: #ffc200;
    --background-gray: #f1f2f4;

}

body {
    background-color: var(--background-gray) !important;
}