body {
    background-color: #5c5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #764ba2 40%, #667eea 70%);
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 300px;
    background: linear-gradient(140deg, #667eea 40%, #764ba2 60%);
}

.calculator input {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000000;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button-grid button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #050505;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-grid button:hover {
    background-color: #232323;
}