.custom-container {
    max-width: 1600px !important;
    margin-left: auto;
    margin-right: auto;
}

.product_card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid #f1f1f1;
}

.product_card:hover {
    background-color: var(--white);
    border: 1px solid #dddddd;
    box-shadow: 0 10px 20px rgba(100, 100, 100, 0.1);
}

.card_image {
    height: 180px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_img {
    object-fit: cover;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card_img:hover {
    transform: scale(1.1);
}

.card-body .card-text:first-child {
    font-weight: bold;
    font-size: 16px;
}

.card-body .card-text:nth-child(3) {
    font-weight: bold;
    color: #333;
    font-size: 15px;
}

.card-icons {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product_card:hover .card-icons {
    opacity: 1;
}

.btn_icon1,
.btn_icon2,
.btn_icon3 {
    background-color: var(--white);
    border-radius: 50%;
    padding: 8px;
    color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
}

.btn_icon1:hover {
    color: orange;
    transform: scale(1.1);
    background-color: var(--white);
}

.btn_icon2:hover {
    color: var(--green);
    transform: scale(1.1);
    background-color: var(--white);
}

.btn_icon3:hover {
    color: var(--red);
    transform: scale(1.1);
    background-color: var(--white);
}