.edit_product_img {
    padding: 20px;
}

.edit_product_img h2 span {
    color: var(--primary-blue);
}

.edit_product_img h2 {
    color: var(--secondary-yellow);
}

.edit_product {
    background-color: var(--background-gray);
}

.custom-submit-btn {
    background-color: var(--secondary-yellow);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.custom-submit-btn:hover {
    background-color: var(--secondary-yellow);
    color: var(--primary-blue);
}